* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
  font-family: 'consolas';
}

#content {
  position: relative;
}

.player-panel {
  display: flex;
  font-size: 32px;
  margin-bottom: 60px;
}

.player-panel img {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

.player-panel div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  color: white;
}

.player-inactive {
  opacity: 0.3;
}


.color-1 {
  filter: invert(79%) sepia(69%) saturate(1108%) hue-rotate(103deg) brightness(98%) contrast(106%);
}

.color-2 {
  filter: invert(16%) sepia(100%) saturate(3245%) hue-rotate(282deg) brightness(110%) contrast(129%)
}

.p-color-1 {
  color: #00ffd0;
}

.p-color-2 {
  color: #d900ff;
}

table {
  border-collapse: collapse;

}

tr {
  width: 399px;
}

td {
  width: 133px;
  height: 133px;
  border: 5px solid #00ffd0;;
  position: relative;
  cursor: pointer;
}

td:hover {
  background-color: rgba(0, 136, 221, 0.1);
}

tr:first-child td {
  border-top: 0;
}

tr:last-child td {
  border-bottom: 0;
}

td:first-child {
  border-left: 0;
}

td:last-child {
  border-right: 0;
}

.shape {
  position: absolute;
  width: 80px;
  height: 80p;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shape-1 {
  filter: invert(79%) sepia(69%) saturate(1108%) hue-rotate(103deg) brightness(98%) contrast(106%);
}

.shape-2 {
  filter: invert(16%) sepia(100%) saturate(3245%) hue-rotate(282deg) brightness(110%) contrast(129%)
}

.dis-none {
  display: none;
}

.horizontal-line {
  position: absolute;
  height: 10px;
  width: 360px;
  background-color: rgba(255, 0, 0, 0.7);
  transform: scaleX(0.0);
  transition: transform 225ms ease-in-out;
  z-index: 10000;
}

.make-vertical {
  transform: rotate(90deg) scaleX(0.0);
}

#gameover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
  animation: opacity 2500ms ease-in-out;
}

#winner-output {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);

  color: white;
  font-size: 80px;
  text-align: center;
}


@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#new-game {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 70px;
  font-size: 30px;
  text-transform: uppercase;
  background: black;
  border: 2px solid white;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

#new-game:hover {
  background: rgb(255, 123, 0);
}

#choose-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.choose-box {
  background: black;
  width: 500px;
  height: 400px;
  margin: 0 20px;
  padding: 20px;
}

#choose-player-1 {
  border: 5px solid #00ffd0;
  color: #00ffd0;
}

#choose-player-2 {
  border: 5px solid #d900ff;
  color: #d900ff;
}

.choose-box h2 {
  padding-bottom: 30px;
}

.icon-box {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 25px;
}

#icon-box-1 img {
  filter: invert(79%) sepia(69%) saturate(1108%) hue-rotate(103deg) brightness(98%) contrast(106%);
}

#icon-box-1 img:hover {
  filter: invert(27%) sepia(88%) saturate(2284%) hue-rotate(155deg) brightness(97%) contrast(106%);
}

#icon-box-2 img {
  filter: invert(16%) sepia(100%) saturate(3245%) hue-rotate(282deg) brightness(110%) contrast(129%)
}

#icon-box-2 img:hover {
  filter: invert(75%) sepia(40%) saturate(990%) hue-rotate(211deg) brightness(100%) contrast(100%);
}

.icons-preview {

  width: 50px;
  height: 50px;
  cursor: pointer;
}

