:root {
  --color-p1: #00ffd0;
  --color-p2: #d900ff;
  --filter-p1: invert(79%) sepia(69%) saturate(1108%) hue-rotate(103deg) brightness(98%) contrast(106%);
  --filter-p2: invert(16%) sepia(100%) saturate(3245%) hue-rotate(282deg) brightness(110%) contrast(129%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'consolas';
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
  font-family: 'consolas';
}

/************ START SCREEN **************/
#start-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

#choose-icon {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
}

.choose-player-box {
  width: 470px;
  position: relative;
  background: black;

}

.choose-box {
  padding: 20px;
}

#choose-player-1 {
  border: 5px solid var(--color-p1);
  color: var(--color-p1);
}

#choose-player-2 {
  border: 5px solid var(--color-p2);
  color: var(--color-p2);
}

.choose-box h2 {
  padding-bottom: 30px;
}

.scroll-hint {
  position: absolute;
  top: 28px;
  right: 15px;
}

.icon-box {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  height: 150px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.icon-box::-webkit-scrollbar {
  display: none;
}



#choose-player-1 img {
  filter: var(--filter-p1);
  transition: 0.2s;
}

#icon-box-1 img:hover {
  filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(213deg) brightness(102%) contrast(102%);
  /* transform: scale(0.9); */
  transition: 0.2s;
}

#choose-player-2 img {
  filter: var(--filter-p2);
  transition: 0.2s;
}

#icon-box-2 img:hover {
  filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(213deg) brightness(102%) contrast(102%);
  /* transform: scale(0.9); */
  transition: 0.2s;
}

.icon-active {
  filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(213deg) brightness(102%) contrast(102%);
}

.icons-preview {
  padding: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.display-choice {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 80px;
  padding: 0 25px;
  line-height: 70px;
  font-size: 20px;
}


.display-choice p {
  padding-right: 20px;
}

#display-player-1 {
  border-top: 5px solid var(--color-p1);
  color: var(--color-p1);
}

#display-player-2 {
  border-top: 5px solid var(--color-p2);
  color: var(--color-p2);
}

#start-new-game {
  margin-top: 50px;
}

/************ GAME SCREEN **************/



#content {
  position: relative;
}

.player-panel {
  display: flex;
  font-size: 32px;
  margin-bottom: 60px;
}

.player-panel img {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

.player-panel div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  color: white;
}

.player-inactive {
  opacity: 0.3;
}


.color-1 {
  filter: invert(79%) sepia(69%) saturate(1108%) hue-rotate(103deg) brightness(98%) contrast(106%);
}

.color-2 {
  filter: invert(16%) sepia(100%) saturate(3245%) hue-rotate(282deg) brightness(110%) contrast(129%)
}

.p-color-1 {
  color: var(--color-p1);
}

.p-color-2 {
  color: var(--color-p2);
}

table {
  border-collapse: collapse;
}

tr {
  width: 399px;
}

td {
  min-width: 133px;
  height: 133px;
  border: 5px solid var(--color-p1);
  position: relative;
  cursor: pointer;
}

td:hover {
  background-color: rgba(0, 136, 221, 0.1);
}

tr:first-child td {
  border-top: 0;
}

tr:last-child td {
  border-bottom: 0;
}

td:first-child {
  border-left: 0;
}

td:last-child {
  border-right: 0;
}

.shape {
  position: absolute;
  width: 80px;
  height: 80p;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shape-1 {
  filter: var(--filter-p1);
}

.shape-2 {
  filter: var(--filter-p2);
}

.dis-none {
  display: none !important;
}

.horizontal-line {
  position: absolute;
  height: 10px;
  width: 360px;
  background-color: rgba(255, 0, 0, 0.7);
  transform: scaleX(0.0);
  transition: transform 225ms ease-in-out;
  z-index: 10000;
}

.make-vertical {
  transform: rotate(90deg) scaleX(0.0);
}

#gameover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  animation: opacity 2000ms ease-in-out;
}

#winner-output {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  color: white;
  font-size: 80px;
  text-align: center;
  padding: 0 30px;
}


@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.button {
  width: 300px;
  height: 70px;
  font-size: 30px;
  text-transform: uppercase;
  background: black;
  border: 2px solid white;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

#restart-game {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);

}

#change-icons {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

}

.button:hover {
  background: rgb(255, 123, 0);
}

#test {
  color: white;

}


/************** MEDIA ***************/

@media (max-width: 1024px) {

  .choose-player-box {
    width: 370px;
  }
}

@media (max-width: 834px) {


  #choose-icon {
    flex-direction: column;
  }

  .choose-player-box {
    width: 470px;
  }

  .icon-box {
    gap: 20px;
    padding: 8px;
    height: 130px;
  }

  #start-new-game {
    margin-top: 20px;
  }
}

@media (max-width: 520px) {
  #start-content {
    display: grid;
    align-items: unset;
    grid-template-rows: 90vh 10vh;
  }
 
  #choose-icon {
    display: block;
  }

  .choose-player-box {
    width: 100%;
    height: 50%;
  }

  .choose-box {
    padding: 10px;
    height: 80%;
  }

  .icon-box {
    gap: 8px;
    padding: 0px;
    height: 80%;
  }

  .scroll-hint {
    top: 18px;
  }

  .display-choice {
    height: 20%;
    padding: 0 20px;
  }

  .display-choice img {
    width: 35px;
    height: 35px;
  }

  #start-new-game {
    margin-top: 0px;
    width: 100%;
    height: 100%;
  }

  #choose-icon {
    gap: 20px;
  }

  .choose-box h2 {
    padding-bottom: 15px;
  }

  .player-panel {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 80px;
  }

  #winner-output {
    top: 20%;
    padding: 20px;
    font-size: 50px;
  }

tr {
  width: 300px;
}

  td {
    width: 100px;
    height: 100px;
  }

  .shape {
    width: 80px;
    height: 80px;
  }


}