* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}

#content {
  position: relative;
}

.player-panel {
  display: flex;
  font-size: 32px;
  margin-bottom: 60px;
}

.player-panel img {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

.player-panel div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  color: white;
}

.player-inactive {
  opacity: 0.3;
}

table {
  border-collapse: collapse;
}

tr {
  width: 399px;
}

td {
  width: 133px;
  height: 133px;
  border: 5px solid rgb(255, 255, 255);
  position: relative;
  cursor: pointer;
}

td:hover {
  background-color: rgba(0, 136, 221, 0.1);
}

tr:first-child td {
  border-top: 0;
}

tr:last-child td {
  border-bottom: 0;
}

td:first-child {
  border-left: 0;
}

td:last-child {
  border-right: 0;
}

.shape {
  position: absolute;
  width: 80px;
  height: 80p;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dis-none {
  display: none;
}

.horizontal-line {
  position: absolute;
  height: 10px;
  width: 360px;
  background-color: rgba(255, 0, 0, 0.7);
  transform: scaleX(0.0);
  transition: transform 225ms ease-in-out;
}

.make-vertical {
  transform: rotate(90deg) scaleX(0.0);
}

#gameover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
  animation: opacity 2500ms ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#new-game {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 70px;
  font-size: 30px;
  text-transform: uppercase;
  background: black;
  border: 2px solid white;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

#new-game:hover {
  background: rgb(255, 123, 0);
}

